
color {
  /* web: "Waaark"; */
  color: #F8E9A1;
  color: #F76C6C;
  color: #A8D0E6;
  color: #374785;
  color: #24305E;
} 

color {
  /* web: https://www.mazellier.design/; */
  background-color: #f0ede8;
  color: #ff2400;
}
