body {
  background-color: #f0ede8;
  max-width: 100%;
  margin: 0px;
  overflow: hidden;
}
.App {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  font-size: calc(6px + 1.5vmin);
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20vh 5vh;
}
p {
  margin: 0;
}
.home-main-text {
  margin-left: 9vw;
  font-size: 3.5vh;
  line-height: 5vh;
}
.home-pitch,
.home-developer {
  font-family: 'Love Ya Like A Sister', cursive;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.home-motto {
  font-family: 'Amatic SC', cursive;
  margin: 0;
  padding: 0;
}
.home-middle-pitch {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  padding: 0;
}
.home-developer {
  display: flex;
  flex-direction: row;
}
.things-i-enjoy {
  font-family: 'Amatic SC', cursive;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1vh;
  margin-top: 2vh;
  font-size: 2vh;
}
.list {
  font-family: 'Amatic SC', cursive;
  text-align: end;
  font-size: 2vh;
}
h2 {
  font-family: Playfair Display, serif;
}
.project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  user-select: none;
  left: 0;
}
.project-image-container,
.project-image,
.project-desc {
  position: absolute;
  cursor: pointer;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  will-change: 'transform, opacity';
  width: 70vw;
  height: 70vw;
  border-radius: 10px;
}
.project-image-container:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
.project-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-desc h3 {
  font-family: 'Open Sans Condensed', sans- serif;
  font-size: 4vw;
}
.project-desc p {
  padding: 2vw;
  font-family: 'Open Sans Condensed', sans- serif;
  font-size: 3.5vw;
}
.arrows {
  width: 100%;
  height: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 3vw;
}
.upArrow,
.downArrow {
  width: 8vw;
  height: 8vw;
}
:hover.upArrow,
:hover.downArrow {
  -moz-box-shadow: 0 0 5px 6px rgb(232, 230, 232);
  -webkit-box-shadow: 0 0 5px 6px rgb(232, 230, 232);
  box-shadow: 0px 0px 5px 6px rgb(232, 230, 232);
  border-radius: 190px;
}
.popup {
  position: absolute;
  top: 20vh;
  right: 10vw;
  z-index: 1000;
  padding: 1.5vh;
  background: rgba(252, 208, 211, 0.605);
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
}

.close {
  position: absolute;
  top: 0vh;
  right: 1vw;
  font-size: 2vh;
  font-weight: bold;
  text-decoration: none;
}

.close:hover {
  color: deeppink;
}
.popup .content {
  font-family: 'Love Ya Like A Sister', cursive;
  text-transform: uppercase;
  font-size: 2vw;
  text-align: center;
  padding-top: 1vh;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 10px 30px -25px rgba(0, 0, 0, 0.3);
  background-color: #f0ede8;
  padding-bottom: 1%;
  z-index: 1;
  opacity: 0.9;
  margin-top: 1vh;
  margin-left: 2%;
  margin-right: 2%;
  height: 6vh;
}
a {
  text-decoration: none;
  margin-left: 1vw;
  margin-right: 1vw;
  color: #312a2a;
  font-size: 0.55rem;
  font-weight: 645;
}
a:hover {
  color: deeppink;
  background-color: transparent;
  box-shadow: none;
}
.nav-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-name {
  line-height: 3vh;
  font-family: 'Open Sans Condensed', sans- serif;
  text-align: center;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans Condensed', sans- serif;
  font-size: 2vh;
  line-height: 3vh;
  padding: 70px 0;
}
.profile-pic {
  width: 30vw;
  border-radius: 15px;
}
.profile-pic-container {
  align-self: center;
}
.about-content {
  margin: 6vw;
}
.who-i-am {
  font-family: 'Amatic SC', cursive;
  font-size: 2vh;
  color: deeppink;
}
.peace-sign {
  width: 8%;
}
.about-last {
  font-family: 'Amatic SC', cursive;
  font-weight: 500;
  font-size: 2vh;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 370px) {
  .home {
    padding: 15vh 2vh;
  }
  .home-main-text {
    margin-left: 5vw;
  }
  a {
    font-size: 0.6rem;
  }
  .profile-pic {
    width: 30vw;
  }
  .about {
    font-size: 2.5vh;
    line-height: 3vh;
    margin-top: 10vh;
    padding: 0;
  }
  .about-last,
  .who-i-am {
    font-size: 3vh;
    line-height: 3vh;
  }
  .project-desc p {
    padding: 3vw;
    font-size: 4vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .home-pitch,
  .home-developer {
    font-size: 5vh;
    line-height: 7vh;
  }
  .home-motto {
    font-size: 3vh;
    line-height: 3.5vh;
  }
  .home-middle-pitch {
    flex-direction: row;
  }
  .home-developer {
    flex-direction: column;
    margin-left: 2vw;
  }
  .about {
    font-size: 2.5vh;
    line-height: 3.8vh;
  }
  .profile-pic {
    width: 25vw;
  }
  .about-last,
  .who-i-am {
    font-size: 2.8vh;
  }
  .project-image-container,
  .project-image,
  .project-desc {
    width: 55vw;
    height: 55vw;
  }
  .project-desc p {
    padding: 3vw;
    font-size: 3vw;
  }
  .arrows {
    height: 70vw;
  }
  .upArrow,
  .downArrow {
    width: 7vw;
    height: 7vw;
  }
  .popup {
    top: 15vh;
  }
}
/* Large devices (laptops/desktops, 992px and up)  */
@media only screen and (min-width: 992px) {
  .home-pitch,
  .home-developer {
    line-height: 7vh;
  }
  .home-motto {
    font-size: 3vh;
    line-height: 3.2vh;
  }
  .things-i-enjoy {
    font-size: 3vh;
    margin-right: 1vw;
  }
  .list {
    font-size: 3vh;
  }
  .about {
    font-size: 2.5vh;
    line-height: 3.8vh;
    padding: 7vh 5vw;
    margin-top: 0vh;
  }
  .profile-pic {
    width: 20vw;
  }
  .about-last,
  .who-i-am {
    font-size: 2.8vh;
  }
  .project {
    margin-top: 7vh;
  }
  .project-image-container,
  .project-image,
  .project-desc {
    width: 40vw;
    height: 40vw;
  }
  .project-desc p {
    padding: 3vw;
    font-size: 2.5vw;
  }
  .popup {
    top: 20vh;
    right: 24vw;
    width: 9vh;
    height: 9vh;
  }
  .popup .content {
    font-size: 1.6vh;
    padding-top: 2vh;
  }
  .arrows {
    height: 60vw;
  }
  .upArrow,
  .downArrow {
    width: 4.5vw;
    height: 4.5vw;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .home {
    padding: 20vh 20vh;
  }
  .things-i-enjoy {
    margin-right: 2vw;
  }
  a {
    font-size: 0.8rem;
  }
  .home-motto {
    font-size: 3.3vh;
    line-height: 3.5vh;
  }
  .about {
    flex-direction: row;
    font-size: 2.5vh;
    padding: 5vh 15vw;
    line-height: 3.8vh;
  }
  .profile-pic {
    width: 20vw;
  }
  .about-last,
  .who-i-am {
    font-size: 3vh;
  }
  .project-image-container,
  .project-image,
  .project-desc {
    width: 50vh;
    height: 50vh;
  }
  .project-desc h3 {
    font-size: 3vh;
  }
  .project-desc p {
    padding: 1vh 3vh;
    font-size: 3vh;
  }
  .arrows {
    height: 55vh;
    padding-right: 5vh;
  }
  .popup {
    top: 20vh;
    right: 30vw;
    width: 7vh;
    height: 7vh;
  }
  .popup .content {
    font-size: 1.3vh;
    padding-top: 1vh;
  }
}
@media only screen and (min-width: 1500px) {
  .popup {
    right: 33vw;
  }
}
/*mobile landscape */
@media only screen and (max-height: 414px) and (min-width: 568px) {
  .home {
    padding: 8vw 20vw;
  }
  .home-middle-pitch {
    flex-direction: row;
  }
  .home-developer {
    flex-direction: column;
    margin-left: 2vw;
  }
  .home-main-text {
    font-size: 6vh;
    line-height: 8vh;
  }
  .home-motto {
    font-size: 4vh;
    line-height: 4vh;
  }
  .things-i-enjoy {
    font-size: 3vh;
    margin-right: 2vw;
  }
  .list {
    font-size: 3vh;
  }
  .about {
    flex-direction: row;
    padding: 0vw 4vw;
    font-size: 2vw;
    line-height: 3vw;
    margin-top: 0vh;
  }
  .profile-pic {
    width: 20vw;
  }
  .about-last,
  .who-i-am {
    font-size: 2vw;
    line-height: 3vw;
  }
  .project {
    margin-top: 8vh;
  }
  .project-image-container,
  .project-image,
  .project-desc {
    width: 60vh;
    height: 60vh;
  }
  .project-desc p {
    padding: 1vw 2vw;
    font-size: 3vh;
  }
  .project-desc h3 {
    font-size: 4vh;
  }
  .popup {
    top: 20vh;
    right: 30vw;
    width: 5vw;
    height: 5vw;
  }
  .popup .content {
    font-size: 1vw;
    padding-top: 1vh;
  }
  .arrows {
    height: 65vh;
  }
  .upArrow,
  .downArrow {
    width: 3vw;
    height: 3vw;
  }
}
